modules = ["python-3.11", "postgresql-16", "python3"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "cargo", "ffmpeg-full", "fontconfig", "freetype", "ghostscript", "glib", "gobject-introspection", "gtk3", "harfbuzz", "lcms2", "libev", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssh", "openssl", "pango", "pkg-config", "postgresql", "qhull", "rustc", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34209
externalPort = 3001

[[ports]]
localPort = 34761
externalPort = 5173

[[ports]]
localPort = 37621
externalPort = 8099

[[ports]]
localPort = 40199
externalPort = 6000

[[ports]]
localPort = 40627
externalPort = 3003

[[ports]]
localPort = 41583
externalPort = 3002

[[ports]]
localPort = 41747
externalPort = 8080

[[ports]]
localPort = 41857
externalPort = 5000

[[ports]]
localPort = 41967
externalPort = 3000

[[ports]]
localPort = 42257
externalPort = 8000

[[ports]]
localPort = 42569
externalPort = 6800

[[ports]]
localPort = 43403
externalPort = 9000

[[ports]]
localPort = 43639
externalPort = 8008

[[ports]]
localPort = 44161
externalPort = 8081

[[ports]]
localPort = 46117
externalPort = 4200

[agent]
integrations = ["python_openai==1.0.0", "styling_replit==1.0.0", "python_database==1.0.0", "python_log_in_with_replit==1.0.0"]
